<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home content">
    <h2>Home</h2>
    <nav>
      <a href="/about">About</a>
    </nav>
    <nav>
      <a href="/blogs">Blogs</a>
    </nav>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>